server {
    listen 80;
    server_name localhost cat.okerr.com *.cat.okerr.com;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/opt/venv/okerr-cat/run/okerr-cat.sock;
    }
}
