[Unit]
Description=uWSGI okerr-cat
After=network.target

[Service]
User=www-data
Group=www-data
EnvironmentFile=/etc/default/okerr-cat
WorkingDirectory=/opt/venv/okerr-cat
ExecStart=/usr/bin/uwsgi --ini okerr-cat.ini

[Install]
WantedBy=multi-user.target

